# STAT 440 Statistical Data Management - Fall 2021
## Homework04
### Due: Wednesday November 03, 2021 11:59 pm US Central Time
#### Created by Course Staff

Grading Rubric (per question):  
2 points if complete and correct  
1 point if incomplete or incorrect  
0 points if no attempt made  


**Retrieving your work**

This and all future homework .md files are written in Markdown. The .md file is rendered as an .html file for easier viewing. This and all future homework assignments are located in the **homework** directory within the **stat440-fa21-course-content** repo, i.e. **stat440-fa21-course-content/homework** in GHE. It is always recommended that you **pull** (or refresh) the **stat440-fa21-course-content** repo to ensure that you have the most updated version of all course content including the homework assignments. After pulling (or refreshing) the **stat440-fa21-course-content** repo, the homework file will be in the homework directory. Once you have accessed the .md file, copy all text from the .md file and paste all text into your reproducible document file (either .Rmd or .ipynb file). 

**Submitting your work**

In your individual student repo (named as your netID), you are to submit ***two*** files:

a. Your reproducible document file (either .Rmd or .ipynb file) which should be saved as homework##-netID.Rmd or homework##-netID.ipynb depending on your preferred software. For example, my homework 01 file would be saved as homework01-kinson2.Rmd.

b. Your rendered reproducible document file (.html) which should be saved as homework##-netID.html. For example, my homework 01 file would be saved as homework01-kinson2.html.

**Do not place your files in a sub-directory (or folder).** You have an unlimited number of submissions, but only the latest proper submission (commit and push) will be viewed and graded. You are allowed to only use one software language per homework file. This means that you cannot mix software languages (R and Python) in one single homework file. **Remember the .Rmd (or .ipynb) file needs to render properly to .html before submitting.** 


***

Undergraduates are expected to complete the problems **#1-#8**. Graduate students are expected to complete all problems.

**The following problems should be completed by you as an individual. If any problem asks you a particular question, be sure to answer it completely (with code, written sentences, or both). Written sentences should not appear in code chunks or code cells. Written sentences should appear in Markdown syntax unless specifically stated otherwise.**

***Do not change anything in this file above the double line. Doing so will prevent your homework from being graded.***

***
***

### Use only one programming language for this entire homework assignment. Use the URLs to access the data (if any). No local files allowed.

**#1** (Markdown) Using Markdown syntax, make a numbered list with your first name in normal text as the first item and your last name in bold text as the second item.

Answers will vary, but must be a numbered list. Graded for completeness. For example,

1. Chris

2. **Kinson**

**#2** (Loops and conditional execution, Summarizing data, Markdown) 

statement: **For loops** can be used to handle grouped data summarization. 

If the text in bold is the term that makes the statement true, then write TRUE below in all caps. If the text in bold is the term that makes the statement false, then write FALSE below in all caps and write the correct term in bold text in a new line under FALSE.

TRUE

**#3** (Validating data, Cleaning data, Markdown) 

statement: **Condition-controlled loops** are those in which repetitive actions are repeated for a predetermined number of times and stopped when the that number of times is reached. 

If the text in bold is the term that makes the statement true, then write TRUE below in all caps. If the text in bold is the term that makes the statement false, then write FALSE below in all caps and write the correct term in bold text in a new line under FALSE.

FALSE

**index-controlled loops**

**#4** (Accessing and importing data) Import the subsets of the IRI Academic Data (existing as three separate data sets) and print the structure of each separate data set using one programming language and the data URLs below. Additionally, you should read the data keys in the [data key GHE link](https://github-dev.cs.illinois.edu/stat440-fa21/stat440-fa21-course-content/raw/master/data/iri-data-key.pdf) or [data key Box link](https://uofi.box.com/shared/static/pg7u97n4rkqql5o0bg736zumrn8n1lgg.pdf) and the data description below:

- [ads-demo - GHE data URL](https://github-dev.cs.illinois.edu/stat440-fa21/stat440-fa21-course-content/raw/master/data/ads-demo440-data.csv) or [ads-demo - Box data URL](https://uofi.box.com/shared/static/9b9ecldtxkr23wb3uc36wwbn2l5ylpyx.csv)

- [trips - GHE data URL](https://github-dev.cs.illinois.edu/stat440-fa21/stat440-fa21-course-content/raw/master/data/trips440-data.txt) or [trips - Box data URL](https://uofi.box.com/shared/static/0pyqnfpl40kr5do7fue8t85vva11ynjm.txt)

- [delivery-stores - GHE data URL](https://github-dev.cs.illinois.edu/stat440-fa21/stat440-fa21-course-content/raw/master/data/delivery-stores440-data) or [delivery-stores - Box data URL](https://uofi.box.com/shared/static/o2bqah52ioj0p0q4msvna7ixk8d9lsh4)

  - The data represent sales information and customer demographics captured from select markets in the US in the year 2001, where the weeks are coded. The ads-demo data (a .csv file) contain 13983 observations and 20 columns that inform on customer ("panelist") demographics. Panelist ID is a unique identifier. The trips data (a .txt file) contain 730040 observations and 4 columns that inform on panelist shopping frequency and how much was spent. Panelists may shop at the same store multiple times in a given time period. The delivery-stores data (a file with no extension) contain 1575 observations and 7 columns that inform on the market that the store is in and estimates how much that store sells annually.

In [1]:
import pandas as pd
ads = pd.read_csv("https://uofi.box.com/shared/static/buv7xuweoq51zw4obcf2netx4d16295h.csv")
ads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13983 entries, 0 to 13982
Data columns (total 20 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Panelist ID                           13983 non-null  int64
 1   Panelist Type                         13983 non-null  int64
 2   Combined Pre-Tax Income of HH         13983 non-null  int64
 3   Family Size                           13983 non-null  int64
 4   HH_RACE                               13983 non-null  int64
 5   Type of Residential Possession        13983 non-null  int64
 6   Age Group Applied to Male HH          13983 non-null  int64
 7   Education Level Reached by Male HH    13983 non-null  int64
 8   Occupation Code of Male HH            13983 non-null  int64
 9   Male Working Hour Code                13983 non-null  int64
 10  Age Group Applied to Female HH        13983 non-null  int64
 11  Education Level Reached by Female HH  13983 non-null  int64
 12  Occupation Code of Female HH          13983 non-null  int64
 13  Female Working Hour Code              13983 non-null  int64
 14  Number of Dogs                        13983 non-null  int64
 15  Number of Cats                        13983 non-null  int64
 16  Children Group Code                   13983 non-null  int64
 17  Marital Status                        13983 non-null  int64
 18  Number of TVs Used by HH              5609 non-null   float64
 19  Number of TVs Hooked to Cable         5442 non-null   float64
dtypes: float64(2), int64(18)
memory usage: 2.1 MB

In [2]:
trips = pd.read_csv("https://uofi.box.com/shared/static/wmsx1tvrrncryf0ue7ldp4szhizdb3gf.txt", sep="\t")
trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730040 entries, 0 to 730039
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   PANID     730040 non-null  int64
 1   WEEK      730040 non-null  int64
 2   IRI_Key   730040 non-null  int64
 3   CENTS999  730040 non-null  float64
dtypes: float64(1), int64(3)
memory usage: 22.3 MB

In [3]:
delivery = pd.read_csv("https://uofi.box.com/shared/static/56bzob5ub1pu5im5fgm1125e4xocbwj2",sep=" ")
delivery.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1575 entries, 0 to 1574
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   IRI_KEY      1575 non-null   int64
 1   OU           1575 non-null   object
 2   EST_ACV      1575 non-null   float64
 3   Market_Name  1575 non-null   object
 4   Open         1575 non-null   int64
 5   Clsd         1575 non-null   int64
 6   MskdName     1575 non-null   object
dtypes: float64(1), int64(3), object(3)
memory usage: 86.3+ KB

**#5** (Data reduction, Data expansion, Summarizing data) Beginning with the **trips** data set and the information in the link in **Problem 4**, use a programming language to create a new data object named `big_spender` that does the following in this order:  

1. mutates a new column called "dollars999" which converts the cents values in "cents999" to dollars

2. de-selects the week column

3. computes the total dollars spent per panelist ID

4. filters the panelists that spend over $15000 in 2001

Now, print the resulting `big_spender` data.

**What's important here is that we can see the total dollars spent and which panelist spent that amount. Of other columns are present, we won't deduct for that.**

In [6]:
trips2 = trips
trips2['dollars999'] = trips2['CENTS999']/100
trips2 = trips2.drop(columns='WEEK')
big_spender = trips.groupby(by='PANID')['dollars999'].sum().reset_index()
big_spender.columns = ['PANID','sum_dollars'] # rename the columns
big_spender = big_spender[big_spender['sum_dollars']>15000]
big_spender

        PANID   sum_dollars
615   1128587  15876.646788
654   1129452  16602.288816
1910  1182873  15958.847199
4225  1408500  15533.598120

**#6** (Data reduction, Data expansion, Combining data, Markdown) Use the `big_spender` data, any of the data sets in **Problem 4**, the information in the link in **Problem 4**, and a programming language applying data management concepts to answer the following question in Markdown syntax and complete sentence(s): 

- Which market (location) do the panelists in `big_spender` shop in?

**You must answer in Markdown syntax in a complete sentence and show code as evidence of your answer.**

All panelists shop in Pittsfield. **There's no way to get the market location without first joining the trips and delivery stores data together, then joining that object with the big spender data. That last join is to match the panelists from big spender with those market locations.**

In [8]:
trips0 = trips.rename(columns={'IRI_Key':'IRI_KEY'})
comb0 = trips0.merge(delivery,on='IRI_KEY')
comb0.merge(big_spender,on='PANID').drop_duplicates(['PANID'],keep='first')[['PANID', 'Market_Name']]

        PANID Market_Name
0     1129452  PITTSFIELD
285   1182873  PITTSFIELD
899   1408500  PITTSFIELD
1183  1128587  PITTSFIELD

**#7** (Data reduction, Data expansion, Summarizing data, Regular expressions and string manipulation) Beginning with the **delivery-stores** data set and the information in the link in **Problem 4**, use a programming language to create a new data object named `southern_grocery` that does the following (in this order):  

1. filters markets in southern places including: Atlanta, Birmingham, Charlotte, Dallas, Durham, Houston, Knoxville, Mississippi, Montgomery, New Orleans, Norfolk, Raleigh, Richmond, South Carolina

2. mutates a new column called "single_state_market" which equals "YES" if the market name is only the name of a state and "NO" otherwise

3. renames any market name that contains a city name then comma then state abbreviation to only contain the city name (e.g. "Urbana, IL" becomes "Urbana")

4. renames any market name that contains a forward slash to contain a space ampersand space (e.g. "Urbana/Champaign" becomes "Urbana & Champaign")

5. arranges by market name in alphabetical order

Now, print the first 5 observations and last 5 observations of `southern_grocery`.

```{r}
southern_grocery <- delivery %>%
  filter(Market_Name=="ATLANTA" | Market_Name=="BIRMINGHAM/MONTG." | Market_Name=="CHARLOTTE" | Market_Name=="DALLAS, TX" | Market_Name=="RALEIGH/DURHAM" | Market_Name=="HOUSTON" | Market_Name=="KNOXVILLE" | Market_Name=="MISSISSIPPI" | Market_Name=="NEW ORLEANS, LA" | Market_Name=="RICHMOND/NORFOLK" | Market_Name=="SOUTH CAROLINA") %>%
  mutate(single_state_market = ifelse(Market_Name=="MISSISSIPPI" | Market_Name=="SOUTH CAROLINA" ,"YES","NO")) %>%
  mutate(market1=str_remove(Market_Name, "\\,\\w+|\\,\\s\\w+"),
         market2=str_replace(market1, "\\/", " & ")) %>%
  select(-c(Market_Name,market1)) %>%
  rename(Market=market2) %>%
  arrange(Market)

head(southern_grocery, 5)

tail(southern_grocery, 5)
```

In [9]:
southern_grocery = delivery[delivery.apply(lambda x:x.Market_Name in ["ATLANTA","BIRMINGHAM/MONTG.","CHARLOTTE","DALLAS, TX",
                                                 "RALEIGH/DURHAM","HOUSTON","KNOXVILLE","MISSISSIPPI",
                                                 "NEW ORLEANS, LA","RICHMOND/NORFOLK","SOUTH CAROLINA"],axis=1)]

southern_grocery['single_state_market'] = ["YES" if ((x=='MISSISSIPPI') or (x=='SOUTH CAROLINA')) else 'NO'
                                          for x in southern_grocery['Market_Name']]
southern_grocery['market1'] = southern_grocery['Market_Name'].str.replace('\,\w+|\,\w\w+','')
southern_grocery['market2'] = southern_grocery['market1'].str.replace('\/,\w\w+',' & ')
southern_grocery = southern_grocery.drop(columns=['Market_Name','market1']).rename(columns={'market2':'Market'})
southern_grocery = southern_grocery.sort_values(by='Market',kind='mergesort')

C:\Users\kinson2\AppData\Local\Temp/ipykernel_13104/557028854.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  southern_grocery['single_state_market'] = ["YES" if ((x=='MISSISSIPPI') or (x=='SOUTH CAROLINA')) else 'NO'
C:\Users\kinson2\AppData\Local\Temp/ipykernel_13104/557028854.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  southern_grocery['market1'] = southern_grocery['Market_Name'].str.replace('\,\w+|\,\w\w+','')
C:\Users\kinson2\AppData\Local\Temp/ipykernel_13104/557028854.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  southern_grocery['market1'] = southern_grocery['Market_Name'].str.replace('\,\w+|\,\w\w+','')
C:\Users\kinson2\AppData\Local\Temp/ipykernel_13104/557028854.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  southern_grocery['market2'] = southern_grocery['market1'].str.replace('\/,\w\w+',' & ')
C:\Users\kinson2\AppData\Local\Temp/ipykernel_13104/557028854.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  southern_grocery['market2'] = southern_grocery['market1'].str.replace('\/,\w\w+',' & ')

In [10]:
southern_grocery.head(5)

     IRI_KEY  OU   EST_ACV  Open  Clsd  MskdName single_state_market   Market
77    205969  GR  15.81100   958  9998   Chain54                  NO  ATLANTA
114   213109  GR   9.37500  1123  1298  Chain126                  NO  ATLANTA
204   223492  GR  44.04999   461  1129   Chain69                  NO  ATLANTA
318   232419  GR  14.21100  1140  1392   Chain54                  NO  ATLANTA
437   239874  GR  11.32100   435  1215   Chain16                  NO  ATLANTA

In [11]:
southern_grocery.tail(5)

,IRI_KEY,OU,EST_ACV,Open,Clsd,MskdName,single_state_market,Market
1494,655979,GR,2.914000,1161,1168,Chain51,YES,SOUTH CAROLINA
1501,656680,GR,17.246990,1128,1334,Chain54,YES,SOUTH CAROLINA
1508,657981,GR,8.090996,1129,1157,Chain135,YES,SOUTH CAROLINA
1540,684049,GR,19.265990,1142,1353,Chain130,YES,SOUTH CAROLINA
1545,687960,GR,7.282997,1129,9998,Chain135,YES,SOUTH CAROLINA

**#8** (Data reduction, Data expansion, Combining data, Markdown) Use the data in **Problem 4**, the information in the link in **Problem 4*, and a programming language applying data management concepts to answer the following question in Markdown syntax and complete sentence(s): 

- Among the panelists with at least one child aged 0-17 years, which panelists spend at least one hundred dollars at each of at least 3 different grocery stores within the first 40 weeks of the year?

**You must answer in Markdown syntax in a complete sentence and show code as evidence of your answer.**

I count 727 unique panelists with at least one child aged 0-17 years and who spend at least one hundred dollars in each of at least 3 grocery stores in the first 40 weeks of the year. **Some students may have interpreted this question as at least $100 in a single trip to the grocery store. That's acceptable here, but that means their answer is going to be different from 727 panelists. Joining only two of the datasets together wouldn't quite work out because we need to ensure that the stores are grocery stores; that information is in the delivery stores data.**

In [12]:
dat1 = ads[(ads['Children Group Code']<8) & (ads['Children Group Code']>0)].rename(columns={'Panelist ID':'PANID'})
subdat2 = trips[trips['WEEK']<1154].rename(columns={'IRI_Key':'IRI_KEY'})
dat2 = subdat2.groupby(['PANID','IRI_KEY'])['CENTS999'].agg(
    totdols=lambda x: sum(x)/100)
dat2 = pd.DataFrame(dat2).reset_index()
dat2deliv = dat2.merge(delivery,on='IRI_KEY',how='inner')
dat2deliv = dat2deliv[(dat2deliv['OU']=='GR')&(dat2deliv['totdols']>=100)]
dat2deliv['n'] = dat2deliv['IRI_KEY'].groupby(dat2deliv['PANID']).transform('count')
dat2deliv = dat2deliv[dat2deliv['n']>2]
dat1dat2deliv = dat2deliv.merge(dat1,on='PANID',how='inner')
z = dat1dat2deliv[['PANID', 'Children Group Code', 'totdols', 'IRI_KEY', 'n']].sort_values(['PANID'])
z2 = z.merge(delivery,on='IRI_KEY',how='inner')[['PANID', 'Children Group Code', 'totdols', 'IRI_KEY', 'n','OU']].sort_values(['PANID'],kind='mergesort')
import numpy as np
len(np.unique(z2['PANID']))

727

**#9** (Data reduction, Data expansion, Combining data, Markdown) Use the data in **Problem 4**, the information in the link in **Problem 4*, and a programming language applying data management concepts to answer the following question in Markdown syntax and complete sentence(s):  

- Among any panelists who shop at the same grocery stores, how many panelists - who are renting their homes -  spend more than five hundred dollars in the first 6 months of the year?

**You must answer in Markdown syntax in a complete sentence and show code as evidence of your answer. The statement "among any panelists who shop at the same grocery stores" means if two people shop at Store1 and 5 people shop at Store2 then these 7 panelists should be included in the result. **

Among any panelists who shop at the same grocery stores, I count 1093 panelists who are renting their homes and spending more than five hundred dollars in the first 6 months of the year. I count 14 unique grocery stores.

In [13]:
ads0 = ads.rename(columns={'Panelist ID':'PANID'})
trips0 = trips.rename(columns={'IRI_Key':'IRI_KEY'})
combo_trips_deliv = trips0.merge(delivery,on='IRI_KEY',how='inner')
combo_all = ads0.merge(combo_trips_deliv,on='PANID',how='inner')
sub = combo_all[(combo_all['WEEK']<1140) & (combo_all['Type of Residential Possession']==1) & (combo_all['OU']=='GR')]
x0 = pd.DataFrame(sub.groupby(['PANID', 'IRI_KEY'])['CENTS999'].agg(totdols=lambda x: round(sum(x)/100,2))).reset_index()
x = sub.merge(x0,on=['PANID', 'IRI_KEY'])
x = x[x['totdols']>500]
x['IRI_KEY'].value_counts()

652159    8549
248128    7859
213290    5687
233779    4129
653776    4048
259111    1401
257871    1231
648764    1230
264075     873
234140     862
257006     775
228037     767
266596     751
200564     340
Name: IRI_KEY, dtype: int64

**#10** (Data reduction, Data expansion, Combining data, Markdown) Use the data in **Problem 4**, the information in the link in **Problem 4*, and a programming language applying data management concepts to answer the following question in Markdown syntax and complete sentence(s):  

- Which panelists - with more than one person living in their household - spend at least $1000 at each of 2 or more stores (if any)? 

**You must answer in Markdown syntax in a complete sentence and show code as evidence of your answer.**

I count 1223 panelists - with more than one person living in their household - who spend at least $1000 at 2 or more stores.

In [14]:
ads0 = ads.rename(columns={'Panelist ID':'PANID'})
trips0 = trips.rename(columns={'IRI_Key':'IRI_KEY'})
combo_trips_deliv = trips0.merge(delivery,on='IRI_KEY',how='inner')
combo_all = ads0.merge(combo_trips_deliv,on='PANID',how='inner')

x = combo_all[(combo_all['Family Size']>1) & (combo_all['OU']=='GR')]
# create a new data frame restoring total spending amount for each ('PANID', 'IRI_KEY')
tot = pd.DataFrame(x.groupby(['PANID', 'IRI_KEY'])['CENTS999'].agg(totdols=lambda x: round(sum(x)/100,2))).reset_index()
# merge new variable into x
x = x.merge(tot,on=['PANID','IRI_KEY'],how='inner')
x = x[x['totdols']>=1000]
x = x[['PANID', 'Family Size', 'totdols', 'IRI_KEY']]
# count the number of unique IRI_KEY for each PANID
x['n'] = x['IRI_KEY'].groupby(x['PANID']).transform('nunique')
x = x.drop_duplicates(['PANID','IRI_KEY'],keep='first')
x = x[x['n']>1].sort_values('PANID')
len(x['PANID'].unique())

1223